<!-- character-list.component.html -->
<div class="filters">
  <app-search-filters (filterChange)="onFilterChange($event)"></app-search-filters>
</div>

<table mat-table [dataSource]="characters" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let character"> {{character.name}} </td>
  </ng-container>
  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Foto </th>
    <td mat-cell *matCellDef="let character">
      <img [src]="character.image" [alt]="character.name" class="avatar-img" width="40" height="40" style="border-radius:50%;">
    </td>
  </ng-container>



  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let character"> {{character.status}} </td>
  </ng-container>

  <!-- Species Column -->
  <ng-container matColumnDef="species">
    <th mat-header-cell *matHeaderCellDef> Species </th>
    <td mat-cell *matCellDef="let character"> {{character.species}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let character"> {{character.type || 'N/A'}} </td>
  </ng-container>

  <!-- Gender Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let character"> {{character.gender}} </td>
  </ng-container>

  <!-- Created Column -->
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef> Created </th>
    <td mat-cell *matCellDef="let character"> {{character.created | date:'yyyy-MM-dd'}} </td>
  </ng-container>

  <!-- Favorite Action Column -->
  <ng-container matColumnDef="favorite">
    <th mat-header-cell *matHeaderCellDef> Favorite </th>
    <td mat-cell *matCellDef="let character">
      <button mat-icon-button color="primary" (click)="markAsFavorite(character); $event.stopPropagation()">
        <mat-icon>star</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectCharacter(row)"></tr>
</table>
