<div *ngIf="favorites.length > 0; else noFavs">
  <ul class="favorites-list">
    <li *ngFor="let fav of favorites" class="favorite-item">
      <span class="favorite-link" (click)="selectFavorite(fav)">
        <img [src]="fav.image" [alt]="fav.name" width="32" height="32" style="border-radius:50%;vertical-align:middle;margin-right:8px;">
        {{ fav.name }}
      </span>
      <button (click)="removeFavorite(fav)" title="Quitar de favoritos" class="remove-btn">✕</button>
    </li>
  </ul>
</div>
<ng-template #noFavs>
  <p>No hay favoritos.</p>
</ng-template>
